################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
*.user
/SSMSJsonViewer/obj
/SSMSJsonViewer/.vs
/SSMSJsonViewer/bin
